# Игнорируем папку сборки
target/
build/
out/
bin/

# Файлы IDE
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/

# Логи и системные файлы
*.log
*.swp
*.bak
*.tmp
*.temp

# Файлы операционных систем
.DS_Store
Thumbs.db

# Игнорируем зависимости (для Maven)
dependency-reduced-pom.xml

# Игнорируем кэш Gradle
.gradle/
!gradle-wrapper.jar

# Игнорируем тестовые отчеты
**/test-output/
**/test-results/

# Игнорируем сгенерированные файлы
**/generated-sources/
**/generated-test-sources/

## Игнорируем локальные настройки
#*.properties
#*.yml
#!application*.yml
#!bootstrap*.yml

# Игнорируем личные файлы разработчиков
*.orig
*~
